@model ViewMovieModel

<div style="display: flex">
    <img src="@Model.imgsrc"
         alt="if you can read this either something has gone horribly wrong with the server or youre just reading through my ugly html"
         style="margin-top: 2.5vh; margin-left: 2.5vh; min-height: 69vh">
    <div style="position: relative; text-align: center; top: 2.5vh; left: 5vw" class="outline-background-me">
        <h1 class="textoutline">
            @Model.name
        </h1>
        <p class="textoutline">
            @Model.description
        </p>
        <div style="justify-content: center; display: flex;">
            <p class="textoutline" style="position: absolute; ">Genres</p>
            @foreach (var genre in Model.genres)
            {
                <div style="margin-left: 1em; margin: 1em" class="textoutline">
                    @genre.Type
                </div>
            }
        </div>
        <a asp-action="WatchMovie" asp-controller="Watch" asp-route-movieId="@Model.id">Start Watching Now</a>
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="EditMovie" asp-controller="Admin" asp-route-id="@Model.id" class="buttons">Edit Movie</a>
        }
    </div>
</div>
