@model ViewShowModel
@using Microsoft.EntityFrameworkCore.Metadata.Internal

<img src="@Model.imgsrc" alt="if you can read this either something has gone horribly wrong with the server or youre just reading through my ugly html">
<h2>
    @Model.name;
</h2>
<p>
    @Model.description
</p>
<div id="Seasons">
<select id="SeasonList">
    @for (int j = 0; j < @Model.SeasonsNames.Count; j++)
    {
        <option value="@j">@Model.SeasonsNames[j]</option>
    }
</select>
</div>
<ul>
    @for(int i =0;i<@Model.SeasonsNames.Count;i++)
    {
        <div class="season+@i">
            @foreach (var episode in @Model.EpisodesInSeasons[i])
            {
                <li>
                    @episode.name
                </li>
            }
        </div>
    }
</ul>




<script src="~/js/SelectSeasonScript.js" asp-append-version="true" type="module"></script>

