@using CloudinaryDotNet.Actions
@using Microsoft.IdentityModel.Tokens
@model EditActorModel
@if (!User.IsInRole("Admin"))
{
    <h1 class="text-center textoutline">
        Hiya, instead of trying to put your nose where it doesn't belong, why don't you instead enjoy some of the media in our fine collection hm?

    </h1>
    <p class="text-center textoutline">
        <a asp-action="SearchResult" asp-controller="Search">Go back and don't waste your time here</a>
    </p>
}
else
{
    <link rel="stylesheet" href="~/css/UplaodImage.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Botonlmao.css" asp-append-version="true"/>
    <div style="display: grid;">
    <form method="post" asp-action="EditActor" enctype="multipart/form-data" class="textoutline" style="display: grid; justify-content: center; justify-self: center; background-color: #574662; border-radius: 12px; width: 50vw; margin-top: 1rem;">
        <input type="hidden" name="id" id="id" value="@Model.Id">
        <input required="required" minlength="3" maxlength="69" name="name" id="name" type="text" asp-for="Name" class="input">
        <div class="tb-container">
            <div class="tb-img-view">
                <img id="tb-image" src="@Model.oldImg"/>
            </div>
            <label>Upload Image</label>
            <input required="required" class="fileUpload" type="file" name="img" id="img" accept="image/*"/>
        </div>
        @if (Model.Roles.IsNullOrEmpty())
        {
            <p>There are no roles added for this actor yet</p>
        }
        <ul>
            @foreach (var role in Model.Roles)
            {
                <li>
                    Plays as @role.Role in <a asp-action="ViewMedia" asp-route-id="@role.MediaId" asp-route-isShow="@role.isShow" asp-controller="Search">@role.MediaName</a>
                    <input type="checkbox" name="removedRoles" id="@role.Role" value="@role.Role"> Delete Role? 
                </li>
            }
        </ul>
        <a asp-action="AddRoleToActor" asp-route-actorId="@Model.Id">Add Role To Actor</a>
        <input type="submit">
    </form>
    </div>
    <script src="~/js/PreviewUploadedImg.js" asp-append-version="true" type="module"></script>
}