@using joro.too.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EditShowModel
@if (!User.IsInRole("Admin"))
{
    <h1 class="text-center textoutline">
        Hiya, instead of trying to put your nose where it doesn't belong, why don't you instead enjoy some of the media in our fine collection hm?

    </h1>
    <p class="text-center textoutline">
        <a asp-action="SearchResult" asp-controller="Search">Go back and don't waste your time here</a>
    </p>
}
else
{
    <link rel="stylesheet" href="~/css/UplaodImage.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Botonlmao.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/containers.css" asp-append-version="true"/>
    <div style="display: grid; margin-bottom: 7rem">
    <form method="post" enctype="multipart/form-data" asp-action="EditShow" asp-controller="Admin" asp-route-model="22" class="textoutline" style="display: grid; justify-content: center; justify-self: center; background-color: #574662; border-radius: 12px; width: 50vw; margin-top: 1rem;">

        <input name="Id" id="Id" asp-for="Id" type="hidden">
        <div>
            Name
            <input required="required" minlength="3" maxlength="69" name="name" id="name" asp-for="Name" type="text" class="input">
        </div>
        <div>
            Description
            <textarea required="required" minlength="10" maxlength="1000" name="desc" id="desc" asp-for="Description" type="text" class="input" style="height: 6rem"></textarea>
        </div>
        <div style="float: right">
            <div class="tb-container">
                <div class="tb-img-view">
                    <img id="tb-image" src="@Model.MediaImgSrc"/>
                </div>
                <label>Update Image</label>
                <input class="fileUpload" type="file" name="img" id="img" accept="image/*" />
            </div>
        </div>

        <div>
            @foreach (var item in Model.Genres)
            {
                <input name="genres" id="@item.Value" value="@item.Value" type="checkbox" checked="@item.Selected">
                @item.Text
            }
        </div>
        <div>
            <ol id="SeasonList" style="display: flex; flex-wrap: wrap; list-style-type: none; float: unset">
                @for (int i = 0; i < @Model.SeasonNames.Count; i++)
                {
                    <li class="season">
                        <div class="form-container helper">
                            <div class="input-group">
                                @Model.SeasonNames[i]
                                <a asp-action="EditSeason" asp-route-sId="@Model.SeasonIds[i]" class="boton-elegante" style="background-color: palegoldenrod">Edit Season</a>
                                <a asp-action="RemoveSeason" asp-route-id="@Model.SeasonIds[i]" asp-route-showId="@Model.Id" class="boton-elegante" style="background-color: orangered">Remove Season</a>
                                @for (int j = 0; j < @Model.Episodes[i].Count; j++)
                                {

                                    <p>Episode @j</p>

                                    @Model.Episodes[i][j].name
                                }
                            </div>
                        </div>
                    </li>
                }
            </ol>
        </div>

        <div>
            <button id="AddSeasonBtn" class="boton-elegante">
                Add Season
            </button>
        </div>

        <input type="submit" class="boton-elegante" value="Update Show">
    </form>
</div>
    <script src="~/js/AddShowScript.js" asp-append-version="true" type="module"></script>
    <script src="~/js/PreviewUploadedImg.js" asp-append-version="true" type="module"></script>
}